
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

}

* {
	font-family: "Lora", serif;
}

.container {
	width: calc(100% - 10px);
	margin: 0 auto 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.img-main {
	width: 100%;
}

.img-work {
	width: 100%;
}

.work {
	float: left;
	width: 100%;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

/*Columns of a grid*/
.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-6 {
	width: 50%;
}

.col-12 {
	width: 100%;
}

.project {
	text-align: center;
	margin: 2px auto 10px auto;
}

h1 {
	margin: 10px auto 2px auto;
	text-align: right;
}

h3 {
	text-align: center;
	font-size: 25px;
	margin: 5px auto 5px auto;
}

.status {
	text-align: right;
	margin: 0 auto 10px auto;
}

/*Break points*/
@media screen and (min-width: 350px){
	.work {
		float: left;
		width: calc((100% - 10px)/2);
		margin: auto auto 10px auto;
	}

	.sunflower {
		margin: auto 0 10px auto;
	}

	.bokeh {
		margin: auto auto 10px auto;
	}
}

@media screen and (min-width: 640px){
	.work {
		width: calc((100% - 20px)/3);
		margin: auto 10px 10px auto;
	}

	.bokeh {
		margin: auto 0 10px auto;
	}
}

@media screen and (min-width: 1000px){
	.container {
		width: 1000px;
		margin: auto auto auto;
	}

}